{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Успешно!</title>
  <link rel="stylesheet" href="{% static 'yatube/css/styles.css' %}">
</head>

<body>
  <main class="container">
      <h2>Форма отправлена</h2>
      <p class="intro">Спасибо! Ваша форма была успешно отправлена.</p>
      <div class="back-button">
        <a href="/" class="button primary">Вернуться на главную</a>
      </div>
  </main>
</body>
</html>
